# TrustCoin Bot Environment Variables
# Copy this file to .env and fill in your actual bot tokens

# Bot Tokens from @BotFather
BOT_TOKEN_ENG=7512597854:AAHfQDrhEcTZr_nKcrWR3j3G2KiI7KJamiI
#BOT ARABIC
BOT_TOKEN_ARA=8290216301:AAEG4yySq2U37aVNCw7rkpNm-luS4oo2GOY
#BOT FRENCH
BOT_TOKEN_FR=8375639193:AAGtFWdmmJAXUmg57tax-163249efCmepDQ

# Webhook Configuration (Optional - for production)
WEBHOOK_URL=
PORT=8443

# Debug Mode (True/False)
DEBUG=False

# App Environment
APP_ENV=development

# Logging Level
LOG_LEVEL=INFO
